body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: honeydew;
  padding: 10px;
}

button{
  padding: 30px;
  border-radius: 50%;
  color: saddlebrown;
  background-color: beige;
  margin: 3px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  background-color: khaki;
  flex: 1;  
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.grid-container{
  display: flex;
  flex: 1;
  flex-flow: column;

}

.grid-item{
  background-color: white;
  border: 0.5px solid silver ;
  flex: 1 0 auto;
  padding: 1px;
  aspect-ratio: 1 / 1 ;

}

